<h1><%= @product.title  %></h1>
<p>Product price: <%= @product.price %></p>
<p>Product quantity: <%= @product.stock_quantity %></p>
<p>Product description: <%= @product.description %></p>
<p>Product category: <%= @product.category %></p>